<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rishi.myapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/myapp_ic"
        android:label="My App"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MusicUrlActivity"></activity>

        <activity android:name=".SplashActivity"
            android:label="Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityNavigator"></activity>
        <activity android:name=".Benchmark" />
        <activity android:name=".SimpleCalculatorActivity" />
        <activity android:name=".WebViewActivity" />
        <activity android:name=".ToastActivity" />
        <activity android:name=".SendTextActivity" />
        <activity android:name=".GoogleNewsActivity" />
        <activity android:name=".GreetUserActivity" />
        <activity
            android:name=".ToggleWifiActivity"
            android:label="Toggle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MusicRawActivity"
            android:label="Music Raw">
        </activity>
        <activity
            android:name=".ImageAnimationsActivity"
            android:label="Image Animation">
        </activity>
        <activity
            android:name=".ImageViewerActivity"
            android:label="ImageViewer">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserLoginActivity"
            android:label="User login">

        </activity>
        <activity
            android:name=".MusicAlbumActivity"
            android:label="Music Album">
        </activity>
        <activity android:name=".ImageEditorActivity"
            android:label="Image Editor">
        </activity>
        <activity
            android:name=".A1"
            android:label="A1">
        </activity>
        <activity android:name=".A2" />
        <activity
            android:name=".ContactPickerActivity"
            android:label="Contact Picker">
        </activity>
        <activity android:name=".SensorsListActivity">
        </activity>
        <activity android:name=".CompassActivity">
        </activity>
    </application>

</manifest>